<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
        <link rel="manifest" href="{{ asset('build/manifest.json') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">Lanikeu's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarColor03" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('blog') }}">Home <span class="sr-only">Articles</span></a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new_article') }}">New Article</a>
                </li>
                {% endif %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('stream_page') }}">Streaming</a>
                </li>

                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script>
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('{{ asset('build/service-worker.js') }}')
                        .then(function (registration) {
                            console.log('Registration successful, scope is:', registration.scope);
                        })
                        .catch(function (error) {
                            console.log('Service worker registration failed, error:', error);
                        });
                }
            </script>
        {% endblock %}
    </body>
</html>
