{% extends "base.html.twig" %}


{% block body %}
    <h2> {{ article.title }}</h2>
    <div class ="metadata"> le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} </div>
    <div class ="content">
        <img src="{{ article.image }}">
        <p>
           {{ article.content }}
        </p>

        <section id="Comments">
            {% if app.user %}
            <div>
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.author, {'attr':{'placeholder': "Your Name"}})}}
                {{ form_row(commentForm.content, {'attr':{'placeholder': "Your Comment"}})}}
                <button type="submit" class="btn btn-success">Comment !</button>
                {{ form_end(commentForm) }}
            </div>
            {% else %}
            <h2>You must be connected to comment this article</h2>
            {% endif %}
            <h1>{{ article.comments | length }} Comments</h1>
            {% for comment in article.comments %}
                <div class ="comment">
                    <div class="row">
                        <div class="row col-sm-3">
                            {{ comment.author }} (<small>{{ comment.CreatedAt | date('d/m/y') }}</small>)
                        </div>
                        <div class="col-sm-9">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </section>
    </div>
{% endblock %}