{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class ="metadata">{{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i') }} </div>
        <div class ="content">
            <img src="{{ article.image }}">
            {# <p> {{ article.content }}</p> #}
            <a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-primary">voir l'article</a>
        </div>
    </article>
        <br/>
    {% endfor %}
</section>
{% endblock %}
