{% extends "base.html.twig" %}
{%  form_theme articleForm 'bootstrap_4_layout.html.twig' %}

{% block javascript %}
<script src="{{ asset('asset/js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
<script src="{{ asset('asset/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('textarea.ckeditor').ckeditor();
    });
</script>
{% endblock %}

{% block body %}

    <h1>
    {% if modify %}
        Modify article
    {% else %}
        Create Article
    {% endif %}
    </h1>

    {{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(articleForm.content) | raw }}
    {{ form_row(articleForm.image, {'attr': {'placeholder': "URL de l'image"}}) }}

    <button type="submit" class="btn btn-success">
        {% if modify %}
        Modify
        {% else %}
        Create Article
        {% endif %}
    </button>
    {{ form_end(articleForm) }}

{% endblock %}